*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin-top: -390px;
    max-width: 600px;
    width: 100%;
    height: 380px;
    background: #fff;
    border: solid 2px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 500px;

}

.container .title{
    font-size: 25px;
    font-weight: 500;
    margin-left: 500px;
}

.container form .user-details{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form .user-details .input-box{
    margin: 10px 10px;
    width: calc(100% / 2 - 20px);

}

.user-details .input-box input{
    height: 35px;
    width: 100%;
    border: solid 1px;
    margin-top: 10px;
}

span {
    color: #00d1ac;
  }
  
  .nav {
    font-weight: 50;
    font-size: 15px;
    margin-left: 340px;
    padding-left: 750px;
    margin-top: -20px;
  }
  
  .nav a {
    padding-right: 30px;
  }

  .button .btn {
    width: 150px;
    height: 40px;
    margin-top: 40px;
    background-color: #00d1ac;
    color: whitesmoke;
    border-radius: 10px;
  }

  

.header h2 {
  
  text-align: center;
  align-items: center;
 
  

}

h2{
  margin-left: 200px;
  margin-top: 50px;
}


.image {
  justify-content: left;
  display: flex;
  padding-left: 160px;
  margin-top: 20px;
}
  